body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #eadde1;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  padding: 30px 60px;
  font-family: "Montserrat", sans-serif;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 80px;
  /* background-color: #4a148c; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-top: solid 0.5px #8f949194;
  border-bottom: solid 0.5px #8f949194;
}

.logo {
  display: flex;
  align-items: center;
  gap: 3px;

  font-optical-sizing: auto;
  font-style: italic;
  font-weight: normal;
  justify-content: center;
  font-size: 0.7rem;
  color: #333;
}

.logo img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.center {
  display: flex;
  gap: 20px;
  font-size: 1rem;
  font-weight: 500;
  color: #230903;
}

nav {
  cursor: pointer;
}

nav:hover {
  color: #8f9491;
  transition: 0.3s;
}

a {
  text-decoration: none;
  color: inherit;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 40px;
  border-right: solid 0.5px #8f949194;
}
.search input {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
  width: 60px;
  background-color: inherit;
}

button {
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
  font-size: 1rem;
  color: #230903;
}

button:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

i {
  font-size: 1.5rem;
  cursor: pointer;
  color: #230903cc;
}

i:hover {
  color: #230903;
  transform: scale(1.1);
  transition: 0.3s;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  gap: 40px;
}

.hero-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}

.hero-text button {
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: #230903cc;
  color: white;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.hero-text button i {
  color: white;
}

.hero-text button:hover {
  background-color: #230903;
}

.hero-text p,
.fa-couch {
  font-size: 3rem;
  font-weight: 500;
  color: #230903;
  line-height: 1.5;
  margin: 0;
}

bold {
  font-weight: bold;
}

italic {
  font-style: italic;
}

.image-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 220px; /* base row height for consistency */
  gap: 10px;
  margin-top: 40px;
}

.image-grid div {
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: #230903;
  overflow: hidden;
}

.image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.image-grid div:nth-of-type(1) {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.image-grid div:nth-of-type(2) {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;
}

.image-grid div:nth-of-type(3) {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}

.image-grid div:nth-of-type(4) {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
}

.image-grid div:nth-of-type(5) {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}

.image-grid div:nth-of-type(6) {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
}

.image-grid div:nth-of-type(7) {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 5;
}

.image-grid div {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 1.2rem;
  text-align: left;
  word-spacing: 20px;
}

.categories {
  margin-top: 90px;
  font-size: 1.5rem;
}

.category-grid {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr 1fr 2fr;
  grid-auto-rows: 220px; /* base row height for consistency */
  gap: 10px;
  margin-top: 40px;
  /* background-color: #230903; */
}

.category-grid div:nth-of-type(1) {
  /* background-color: red; */
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.category-grid div:nth-of-type(2) {
  /* background-color: blue; */
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.category-grid div:nth-of-type(3) {
  /* background-color: yellow; */
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.category-grid div:nth-of-type(4) {
  /* background-color: green; */
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.category-grid div {
  background-color: #d3b88c75;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 280px; /* Ensures enough space */
  overflow: visible;
  padding: 30px;
}

.category-grid div h6 {
  position: absolute;
  top: 40px;
  left: 40px;
  margin: 0;
  font-size: 1.9rem;
  font-weight: 600;
  z-index: 2;
  letter-spacing: -2px;
}

.category-grid div img {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: inherit;
  height: auto;
  object-fit: contain; /* Prevents distortion */
  border-radius: 8px;
  z-index: 1;
}

.category-grid div p {
  color: #230903;
  padding-top: 40px;
  padding-left: 10px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.office {
  width: 20%;
  height: auto;
}
